.outerBodyContainer {
  display: flex;
  flex: 1;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sideBarShadow {
  width: 240px;
}

.sideBarContainer {
  width: 240px;
  background: rgb(245, 245, 245);
  padding-top: 2px;
  position: fixed;
  top: 41px;
  margin-top: 18px;
}

.sideBarShadow.close {
  transform: translate(-100%);
  transition: transform 0.2s ease-out;
}

.mainContainer {
  flex: 5;
  background: #fafafa;
  padding-left: 20px;
  display: flex;
}
