.outerBodyContainer {
  display: flex;
  flex: 1;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sideBarContainer {
  min-width: 300px;
  flex: 1;
}

.mainContainer {
  flex: 5;
}
