.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 0 16px;
  top: 0px;
  left: 0px;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-self: center;
}

.rightContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin: 0 40px;

  flex-basis: 1e-9px;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 10px;
  height: 32px;
  justify-content: flex-start;
  max-width: none;
}

.logoWrapper {
  margin-right: 30px;
}

.input {
  width: 100%;
}

.signIn {
  margin: 10px;
  white-space: nowrap;
}

.flex-center {
  justify-content: center;
  align-self: center;
}
.bold {
  font-weight: bold;
}
.top {
  vertical-align: top;
}
.bottom {
  vertical-align: bottom;
}
