.navBar {
  display: flex;
  background: grey;
  flex-direction: row;
  border-style: solid;
  justify-content: center;
  align-self: center;
}

.leftContainer {
  display: flex;
  color: red;
  border-style: solid;
}

.searchContainer {
  color: blue;
  display: flex;
  flex: 1;
  flex-direction: row;
  border-style: double;
  background: green;
  align-self: center;
  justify-content: center;
  margin-left: 5px;
}
.searchBarWrapper {
  width: 100%;
  max-width: 550px;
}
.input {
  width: 100%;
  height: 34px;
}

.rightContainer {
  display: flex;
  color: yellow;
  border-style: solid;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-self: center;
}
.bold {
  font-weight: bold;
}
.top {
  vertical-align: top;
}
.bottom {
  vertical-align: bottom;
}
