.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 0 16px;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-self: center;
}

.menuButton {
  margin-right: 5px;
}

.searchContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-left: 5px;
}
.searchBarWrapper {
  width: 100%;
  max-width: 550px;
  padding-right: 3px;
}
.input {
  width: 100%;
}

.signIn {
  margin: 10px;
  white-space: nowrap;
}

.rightContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.flex-center {
  justify-content: center;
  align-self: center;
}
.bold {
  font-weight: bold;
}
.top {
  vertical-align: top;
}
.bottom {
  vertical-align: bottom;
}
