.sideBarContainer {
}

.sideItemContainer {
  display: flex;
}

.text {
  color: black;
}

.svgButton {
}

.svgButton:hover {
  background-color: black;
  width: 60px;
}

#sampleATag {
  flex: 1;
  text-decoration: none;
  font-size: 30px;
  color: grey;
  transition: transform 300ms ease-in-out;
}

#sampleATag:hover {
  background: darkgrey;
  position: 20px;
  transform: translate(-240px, 0px);
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
