.sideBarContainer {
  position: fixed;
  flex: 1;
  flex-direction: column;
  background-color: #fafafa;
}

.sideBarTopContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 0px;
}

.sideItemContainer {
  display: flex;
  flex-direction: row;
  padding: 0px 24px;
  height: 40px;
  width: 240px;
}

.sideItemContainer:hover {
  background: rgba(0, 0, 0, 0.1);
}

.sidebarItemText {
  margin-right: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.sideBarCategoryContainer {
  padding: 8px 0px;
}
.sideBarCategoryText {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 24px;
  color: rgb(96, 96, 96);
}

.containerBottomBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sideBar__LogInContainer {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  height: 114px;
  width: 240px;
}

.sideBar__signInInstruct {
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  display: block;
}

.sideBar__signInLink {
  padding: 10px 16px 10px -16px;
  display: inline-block;
  width: 73.04px;
}

.sideBar__signInText {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}

.sideBar__YoutubeMoreContainer {
  height: 132px;
  padding: 8px 0px;
}

.sideBar__SettingsContainer {
  height: 176px;
  width: 240px;
  padding: 8px 0px;
}
