.topicContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-style: inset;
}

.videoListContainer {
  display: flex;
  flex-direction: row;
}

.movieEntryContainer {
  margin: 0;
  padding: 0;
  color: black;
  border-style: dashed;
  width: 160px;
  height: 300px;
}
