.signInLink {
  color: rgb(6, 95, 212);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: 0.007px;
}

#signInContainer {
  padding: 10px 16px;
}
