#outerContainer {
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.searchForm {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(0, 0, 0);
  border-style: none;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 656px;
}

.container {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
  border-right: none;
  box-shadow: inset 0 1px 2px #eee;
  padding: 2px 6px;
  border-radius: 2px 0 0 2px;
  margin-left: 4px, padding 1px;
}

.searchInput {
  color: rgb(17, 17, 17);
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 10px;
}

.input {
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgb(17, 17, 17);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(17, 17, 17);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(17, 17, 17);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(17, 17, 17);
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: none;
  color: rgb(17, 17, 17);
  cursor: text;
  direction: ltr;
  display: inline-block;
  flex-basis: 1e-9px;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Roboto", "Noto", sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 400;
  height: 24px;
  letter-spacing: normal;
  line-height: 24px;
  margin-left: 4px;
  max-width: 100%;
  outline-color: rgb(17, 17, 17);
  outline-style: none;
  padding-bottom: 1px;
  padding-top: 1px;
  text-align: start;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  unicode-bidi: isolate;
  word-spacing: 0px;
}
