.sideBarItem {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
}

.text {
  margin-left: 10px;
  justify-content: center;
  align-self: center;
}

.categoryIcon {
  border-radius: 50%;
}

.sideBarButton {
  background-color: rbga(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgba(17, 17, 17, 0.4);
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0;
  height: 40;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 8;
  padding-left: 8;
  padding-right: 8;
  padding-top: 8;
  position: relative;
  width: 40;
}

.sampleATag {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  color: grey;
  margin: 0;
  padding: 0;
}

.sidebarItem__Text {
  font-weight: 400;
  margin-right: 24px;
  flex: 1;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: rgba(17, 17, 17);
  line-height: 21px;
}
