.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: #ffffff;
}

.body {
  display: flex;
  flex: 1;
}

.navBar {
  min-width: 100%;
  position: fixed;
  top: 0px;
  background: white;
}
